<div class="row">
    <div class="jumbotron">
        <h1>Welcome to Pollster!</h1>
        <p>Here you can create polls to share with your friends! It is free and easy to get started!</p>
        <p><a class="btn btn-success btn-lg" href="#" role="button">Create A Poll Now!</a></p>
    </div>
</div>
<div class="info-block row">
    <div class="col-md-4">
        <div class="info-box">
        <div class="icon text-center">
            <i class="glyphicon glyphicon-floppy-disk"></i>
        </div>
        <div class="desc text-center">
            <p>By creating an account and logging in, you can save the polls you make forever, as well as gaining more customization options!</p>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info-box">
        <div class="icon text-center">
            <i class="glyphicon glyphicon-globe"></i>
        </div>
        <div class="desc text-center">
            <p>Share your polls with friends from all around the world! Users can vote and see results without creating an account.</p>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info-box">
        <div class="icon text-center">
            <i class="glyphicon glyphicon-cog"></i>
        </div>
        <div class="desc text-center">
            <p>Customize your polls with our vast collection of settings and options. Create an account now to get started!</p>
        </div>
        </div>
    </div>
</div>